{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <nav class="sub-navigation">
        <ul class="govuk-list">
          <li class="sub-navigation__item">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect to GovWifi</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using an Android device</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using an iPhone or iPad</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a Windows device</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a Mac</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a Chromebook</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a BlackBerry</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Get help connecting</a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Performance data</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Organisations using GovWifi</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Accept the new GovWifi certificate</a>
          </li>
        </ul>
      </nav>
    </div>





    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Performance data
      </h1>

      <div class="big-number govuk-!-margin-bottom-5">
        <span class="big-number__value">
          100%
        </span>
        <span class="govuk-visually-hidden">&nbsp;</span>
        <span class="big-number__label govuk-!-font-size-24">
          Service uptime
        </span>
        <span class="govuk-body-s">
          <br> (since 8 November 2021)
        </span>
      </div>

      <div class="data-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="big-number">
              <span class="big-number__value">
                500k
              </span>
              <span class="govuk-visually-hidden">&nbsp;</span>
              <span class="big-number__label">
                Registered users
              </span>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="big-number">
              <span class="big-number__value">
                5k
              </span>
              <span class="govuk-visually-hidden">&nbsp;</span>
              <span class="big-number__label">
                Registered organisations
              </span>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="big-number">
              <span class="big-number__value">
                80k
              </span>
              <span class="govuk-visually-hidden">&nbsp;</span>
              <span class="big-number__label">
                Daily active users
              </span>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="big-number">
              <span class="big-number__value">
                20k
              </span>
              <span class="govuk-visually-hidden">&nbsp;</span>
              <span class="big-number__label">
                Daily roaming users
              </span>
            </div>
          </div>
        </div>

        <p class="govuk-body-s">(since August 2016)</p>
      </div>

      {# <h2 class="govuk-heading-m">
        GovWifi daily active and daily roaming users
      </h2> #}

      <h2 class="govuk-heading-m">
        GovWifi locations
      </h2>

      <iframe src="https://www.google.com/maps/d/embed?mid=1q5m37RtZ8IdmgU-F-q2nc6HDv34yiJdC" width="640" height="480"></iframe>

    </div>
  </div>
{% endblock %}
