{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <nav class="sub-navigation">
        <ul class="govuk-list">
          <li class="sub-navigation__item">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect to GovWifi</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using an Android device</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using an iPhone or iPad</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a Windows device</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a Mac</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a Chromebook</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Connect using a BlackBerry</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Get help connecting</a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Performance data</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Organisations using GovWifi</a>
          </li>
          <li class="sub-navigation__item ">
            <a href="#0" class="app-subnav__link govuk-link--no-visited-state">Accept the new GovWifi certificate</a>
          </li>
        </ul>
      </nav>
    </div>





    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Performance data
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-body-m govuk-!-margin-bottom-1">In the last week:</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="big-number">
            <span class="big-number__value">
              100%
            </span>
            <span class="govuk-visually-hidden">&nbsp;</span>
            <span class="big-number__label">
              Service uptime
            </span>
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="intro-para">
            <b>80,000</b> people have used the service at least once, <b>20,000</b> have used it to work from multiple locations.
          </p>
        </div>
      </div>

      <div class="data-card govuk-!-margin-top-6">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-body-m govuk-!-margin-bottom-1">Since August 2016:</h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="big-number">
              <span class="big-number__value">
                500k
              </span>
              <span class="govuk-visually-hidden">&nbsp;</span>
              <span class="big-number__label">
                Registered users
              </span>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="big-number">
              <span class="big-number__value">
                5k
              </span>
              <span class="govuk-visually-hidden">&nbsp;</span>
              <span class="big-number__label">
                Registered organisations
              </span>
            </div>
          </div>
        </div>
      </div>

      {# <h2 class="govuk-heading-m">
        GovWifi daily active and daily roaming users
      </h2> #}

      <h2 class="govuk-heading-m">
        GovWifi locations
      </h2>

      <iframe src="https://www.google.com/maps/d/embed?mid=1q5m37RtZ8IdmgU-F-q2nc6HDv34yiJdC" width="640" height="480"></iframe>

    </div>
  </div>
{% endblock %}
