{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Performance data
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>Adding a performance page to the public documentation.</p>

      <h2 class="govuk-heading-m">
        Version 2
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Following research we&rsquo;ve moved the performace data on the <i>Offer GovWifi</i> page and removed the map.</p>

      {{ govukButton({
        text: 'View prototype',
        href: 'v3/offer-govwifi'
      }) }}






      {% set v1 %}
        <p class="govuk-!-margin-bottom-2">Two variations of the MVP page:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v1/performance">no graph</a>
          </li>
          <li>
            <a href="v2/performance">with graph</a>
          </li>
        </ul>
      {% endset %}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
