{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        GovWifi prototype
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="admin/" class="govuk-link--no-visited-state">Admin site review</a>
        </li>
        <li>
          <a href="perf-data/" class="govuk-link--no-visited-state">Performance data</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
